<p *ngIf="!wordtypes"><em>Loading...</em></p>

<div class="row">
  <div class="col">
    <div class="caption">
      <h2>Word types</h2>
      <a class="btn btn-primary" asp-action="Create" asp-controller="WordTypes">Create word</a>
    </div>
    <table id="dictionary" class="table table-striped" *ngIf="wordtypes">
      <tr><th>Id</th><th>English</th><th>Russia</th><th></th></tr>
      <tr *ngFor="let item of wordtypes">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.nameru}}</td>
        <td>
          <form method="post">
            <a class="btn btn-sm btn-primary">Edit</a>
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
          </form>
        </td>
      </tr>      
    </table>
  </div>
</div>
