/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*** My Styles ***/
BODY {
    font-family: Cambria, Georgia, "Times New Roman";
    margin: 0;
}

#header DIV.title, DIV.item H3, DIV.item H4, DIV.pager A {
    font: bold 1em "Arial Narrow", "Franklin Gothic Medium", Arial;
}

#header {
    background-color: #444;
    border-bottom: 2px solid #111;
    color: White;
}

    #header DIV.title {
        font-size: 2em;
        padding: .6em;
    }

#content {
    border-left: 2px solid gray;
    margin-left: 9em;
    padding: 1em;
}

#categories {
    float: left;
    width: 8em;
    padding: .3em;
}

DIV.item {
    border-top: 1px dotted gray;
    padding-top: .7em;
    margin-bottom: .7em;
}

    DIV.item:first-child {
        border-top: none;
        padding-top: 0;
    }

    DIV.item H3 {
        font-size: 1.3em;
        margin: 0 0 .25em 0;
    }

    DIV.item H4 {
        font-size: 1.1em;
        margin: .4em 0 0 0;
    }

DIV.pager {
    text-align: right;
    border-top: 2px solid silver;
    padding: 5em 0 0 0;
    margin-top: 1em;
}

    DIV.pager A {
        font-size: 1.1em;
        color: #666;
        text-decoration: none;
        padding: 0 4em 0 4em;
    }

        DIV.pager A:hover {
            background-color: Silver;
        }

        DIV.pager A.selected {
            background-color: #353535;
            color: White;
        }

#categories A {
    font: bold 1.1em "Arria Narrow", "Franklin Gothic Medium", Arrial;
    display: block;
    text-decoration: none;
    padding: .6em;
    color: Black;
    border-bottom: 1px solid silver;
}

    #categories A.selected {
        background-color: #666;
        color: White;
    }

    #categories A:hover {
        background-color: #CCC;
    }

    #categories A.selected:hover {
        background-color: #666;
    }

form {
    margin: 0;
    padding: 0;
}

div.item form {
    float: right;
}

div.item input {
    color: white;
    background-color: #333;
    border: 1px solid black;
    cursor: pointer;
}

h2 {
    margin-top: 0.3em;
}

tfoot td {
    border-top: 1px dotted gray;
    font-weight: bold;
}

.actionButtons a, input.actionButtons {
    font: .8em Arial;
    color: white;
    margin: .5em;
    text-decoration: none;
    padding: .15em 1.5em .2em 1.5em;
    background-color: #353535;
    border: 1px solid black;
}

#cart {
    float: right;
    margin: .8em;
    color: silver;
    background-color: #555;
    padding: .5em .5em .5em 1em;
}

    #cart A {
        text-decoration: none;
        padding: .4em 1em .4em 1em;
        line-height: 2.1em;
        margin-left: .5em;
        background-color: #333;
        color: white;
        border: 1px solid black;
    }
