
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<div id="maintext">    
    <p>
        Данный проект - это сборник документации по командам Windows и утилитам.
        В разделе Команды вы найдете информацию по всем консольным командам Windows.
        В разделе Утилиты дается описание программ из пакетов Sysinternals, Support Tolls и Resource Kits.
        В разделе Скрипты приводится описание средств автоматизации рутиных работ - скрипты: vbscript и powershell.
        Для начинающих администраторов нет необходимости изучать VBS, т.к. на его место уже с 2008 года пришел язык
        powershell, который сейчас активно развивается компанией Microsoft.
    </p>
</div>
