
@{
    ViewData["Title"] = "Contact";
}
       
<h1>Contacts</h1>

<div id="maintext">
    <p>
        Email: n.gortsuev@outlook.com<br />
        Skype: n.gortsuev@skype.com
    </p>

    <p>
        <h4>Social network</h4>
        Fb: wincmd.facebook.com<br />
        Tw: wincmd.twitter.com<br />
        Vk: wincmd.vk.com<br />
    </p>

    <p>
        <h4>Home site:</h4>
        Fb: ngortsuev.facebook.com<br />
        LinkedIn: linkedin.com\ngortsuev <br />
        Instangram: instangram.com\ngortsuev<br />
    </p>
</div>
        

        

