@{
    ViewData["Title"] = "Home Page";
}

<div id="maintext">
    <h3>Главная</h3>
    <p>
        Командная среда (cmd) - это программный продукт Microsoft, который обеспечивает связь между пользователем компьютера и операционной системой. Оболочка Windows использует интерпретатор cmd.exe и
        присутствует во всех версиях операционных систем Windows. Многие возможности и функции управления операционной системой недоступны из графического интерфейса и поэтому cmd является единственным
        средством доступа к этим инструментам.
    </p>

    <p>
        Отличием работы из cmd является полное отсутствие больших и громоздких графических утилит. Пользовательский интерфейс текстовой строки предоставляет среду, в которой выполняются приложения и
        служебные программы. Cреда, эмулирующая DOS имеет множество названий, таких как – командная строка, окно, среда и .т.д.
    </p>

    <p>
        На первых этапах развития ОС Windows немаловажную роль играло развитие специального интерфейса, способного осуществить контроль пользователем всего программного обеспечения. Это в полной мере стало доступно
        через командную строку, которая обеспечивала оперативную работу с программами и сетью. Нынешний интерпретатор является полным аналогом Command.com, использующимся в ОС семейства MS-DOS.
    </p>
</div>
