<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BirthdayWeb</title>        
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />    
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">        
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">BirthdayWeb</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Birthday" asp-action="Index">Birthdays</a></li>
                    <li><a asp-area="" asp-controller="Notes" asp-action="Index">Notes</a></li>
                    <li><a asp-area="" asp-controller="Tasks" asp-action="Index">Tasks</a></li>
                    <li><a asp-area="" asp-controller="Events" asp-action="Index">Events</a></li>
                    <li><a asp-area="" asp-controller="Country" asp-action="Index">Countries</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li><a asp-area="" asp-controller="Admin" asp-action="Index">Admin</a></li>
                        <li><a asp-area="" asp-controller="Logs" asp-action="Index">Logs</a></li>
                        <li><a asp-area="" asp-controller="Requests" asp-action="Index">Requests</a></li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="right"><a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>
                    }
                    else
                    {
                        <li class="right"><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                    }
                </ul>
            </div>           
        </div>
    </nav>
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container-fluid">            
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">                    
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>                    
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - BirthdayWeb</p>
        </footer>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
