@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    It is simple catalog that contain information about countries and cities.
    Catalog will be contain information about continents, countries, cities, Holidays, Calendars and other.
</p>

<p>The project begining in February, 2019 year and I have many ideas that I want to realize.</p>

<p>In the Feature will be made more complex user interface and mobile application for iOS and Android.</p>

<p>Also will be made application for Windows.</p>
