@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Dalaagatan<br />
    Stockholm, Sweden<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@tinymuse.com">Support@tinymuse.com</a><br/>
    <strong>Developer:</strong> <a href="mailto:Developer@tinymuse.com">Developer@tinymuse.com</a>
</address>
