@model IrregularVerb
@{
    ViewData["Title"] = "Create";
}

<h2>Edit Word</h2>
<div class="row">
    <div class="col-md-3">
        <form asp-action="Edit" asp-controller="IrregularVerbs" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Infinitive"></label>
                <input asp-for="Infinitive" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PastSimple"></label>
                <input asp-for="PastSimple" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PastParticiple"></label>
                <input asp-for="PastParticiple" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="TranslateRu"></label>
                <input asp-for="TranslateRu" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-action="Index" class="btn btn-default">Cancel</a>
        </form>
    </div>
</div>

