@model IEnumerable<WordType>
@{
    ViewData["Title"] = "AddType";
    Layout = null;
}

<input type="hidden" name="hiddenWordId" id="hiddenWordId" value="@ViewBag.wordId" />

<div class="modal fade" id="modalAddType" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Type</h4>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    @foreach (var item in Model)
                    {
                        <a href="#" class="list-group-item" onclick="addType(@item.Id)">@item.Name</a>
                    }
                </ul>
            </div>
            <div class="modal-footer">                
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

