@model CountryViewModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Country</h2>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <form asp-controller="Country" asp-action="Edit" method="post">
            <input type="hidden" asp-for="Country.Id" />
            <div class="form-group">
                <label asp-for="Country.Id"></label>
                <input asp-for="Country.Id" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label>Country</label>
                <select asp-for="SelectedContinent" asp-items="@Model.Continents" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Country.Name"></label>
                <input asp-for="Country.Name" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-action="Index" class="btn btn-default">Cancel</a>
        </form>
    </div>
</div>