@model Color
@{
    ViewData["Title"] = "Create";
}

<h2>Create Color</h2>
<div class="row">
    <div class="col-md-3">
        <form asp-action="Create" asp-controller="Colors" method="post">
            <div class="form-group">
                <label asp-for="ColorEng"></label>
                <input asp-for="ColorEng" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ColorRu"></label>
                <input asp-for="ColorRu" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
            <a asp-action="Index" class="btn btn-default">Cancel</a>
        </form>
    </div>
</div>

