@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
        <h2>Welcome</h2>
        <p>
            BirthdayWeb - simple project made by .Net Core.
        </p>
        <p>
            The main task is store birthdays of your family and friends.
        </p>
    </div>    
</div>
